.left{
    background-image: url("../../assets/doctors-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: right;
    width:23%;
    height:550px;
}
.right{
    
    width: 70%;
    height: 550px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}
.container{
    display:flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    /* background-color: rgb(130, 191, 235); */
}
h3{
    text-align: center;
}
.heading{
    text-align: center;
    text-shadow: blue;
}
.card{
    border-radius: 50px;
}
.card-header{
    border-radius: 48px 40px 48px 0px;
    background-color: blue;
}
.card-body{
    font-size: larger;
    font-weight: bold;
}