<div class="container-fluid" id="home"> 
    <div style="text-align: center;" id="image1">
      <img src="../../assets/doctors-2.jpg"height="450px" width="65%">
      <!-- <img src="" height="500px" width="600px" *ngIf="(router.url==='/')"> -->
      <p id="text1">Online Doctor Appointment Make it simple</p>
    </div>
  </div>
    <div class="container-fluid">
      <div class="row"id="row1">
       <div class="col-lg-3 col-xs-3"id="column1" >
        <a class="btn" routerLink="/userhome" ><i class="fa fa-users fa-4x" style="color:rgb(46, 109, 243)" aria-hidden="true"></i>User </a>
        
       </div>
       <div class="col-lg-3 col-xs-3" id="column1">
        <a class="btn" routerLink="/adminLogin"><i class="fa fa-user fa-4x" style="color:rgb(46, 109, 243)" aria-hidden="true"></i>Admin</a>
        
       </div>
       <div class="col-lg-3 col-xs-3"id="column1" >
        <a class="btn"  routerLink="/doclogin"><i class="fa fa-user-md fa-4x" style="color:rgb(46, 109, 243)" aria-hidden="true"></i>Doctor </a>
        
       </div>
     
    </div>

    </div>
    
