<div class="main" >
    <!-- <img src="../../assets/doctors-2.jpg"> -->
    <br>
<h4>Your Appointments</h4>
<br>
<div class="table-responsive" >
    <table class="table  table-bordered table-striped" id="data">
            <thead>             
                  <tr> 
                      <th>Doctor</th>
                      <th>Address</th>
                      <!-- <th>Address</th> -->
                     
                      <th>Date</th>
                      <th>Slot 1</th>
                      <th>Slot 2</th>
                      <th>Slot 3</th>
                      <th>Slot 4</th>
                     
                  </tr>
              </thead>
              <tbody>
                <tr >
                        
                    <td>{{appointment.name}}</td>
                    <td id="address">{{appointment.address}}</td>
                    <td>{{appointment.date}}</td>
                    <td>{{appointment.slot1}}</td>
                    <td>{{appointment.slot2}}</td>
                    <td>{{appointment.slot3}}</td>
                    <td>{{appointment.slot4}}</td>
                   
                </tr>
              </tbody>
          </table>
          </div>
        </div>
       
          
          
    